@using KL.Shared.Resources
@inject ISnackbar Snackbar;
@inject IDialogService DialogService;

<div class="d-flex justify-space-between pl-12 pr-12 mt-5 align-center">
    <MudText Typo="Typo.h4" Class="mb-5">Resources</MudText>
    <AuthorizeView Policy="RequireInternalUserRole">
        <span>
            <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" Color="Color.Primary" OnClick="@OnAdd">Nieuw</MudButton>
        </span>
    </AuthorizeView>
</div>

<div class="d-flex flex-wrap gap-4 mb-5 justify-center">
    @foreach (var resource in _resources)
    {
        <MudCard Style="width: 400px;">
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6">@resource.Name</MudText>
                </CardHeaderContent>
                <CardHeaderActions>
                    <AuthorizeView Policy="RequireInternalUserRole">
                        <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Default" OnClick="@(() => OnDelete(resource))"/>
                    </AuthorizeView>
                </CardHeaderActions>
            </MudCardHeader>
            <MudCardContent>
                <MudText>@resource.Description</MudText>
                <MudText Class="mt-3" Typo="Typo.body2">@resource.Source</MudText>
            </MudCardContent>
            <MudCardActions>
                <MudButton Variant="Variant.Text" Color="Color.Primary">Bekijk opmerkingen</MudButton>
            </MudCardActions>
        </MudCard>
    }
</div>

@code {

    private async Task OnAdd()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true };
        var dialog = await DialogService.ShowAsync<AddResourceForm>("Nieuwe resource", options);
        var result = await dialog.Result;

        if (!result.Canceled)
        {
            _resources.Insert(0, (Resource)result.Data);
            StateHasChanged();
            Snackbar.Add("Resource toegevoegd", Severity.Info);
        }

    }

    private void OnDelete(Resource resource)
    {
        _resources.Remove(resource);
    }

    private readonly List<Resource> _resources = new List<Resource>()
    {
        new()
        {
            Id = Guid.NewGuid(),
            Name = "Name",
            Description = "Description",
            Source = "https://www.youtube.com/watch?v=TEXZSzPpZqo",
            Comments = new List<string>()
            {
                "yesss",
                "nooooo",
                "well this is awkard or not"
            }
        },
        new()
        {
            Id = Guid.NewGuid(),
            Name = "Name",
            Description = "Description",
            Source = "https://www.youtube.com/watch?v=TEXZSzPpZqo",
            Comments = new List<string>()
            {
                "yesss",
                "nooooo",
                "well this is awkard or not"
            }
        },
        new()
        {
            Id = Guid.NewGuid(),
            Name = "Name",
            Description = "Description",
            Source = "https://www.youtube.com/watch?v=TEXZSzPpZqonjsdanfjhkdshjkhj",
            Comments = new List<string>()
            {
                "yesss",
                "nooooo",
                "well this is awkard or not"
            }
        },
        new()
        {
            Id = Guid.NewGuid(),
            Name = "Name",
            Description = "Description",
            Source = "https://www.youtube.com/watch?v=TEXZSzPpZqo",
            Comments = new List<string>()
            {
                "yesss",
                "nooooo",
                "well this is awkard or not"
            }
        },
        new()
        {
            Id = Guid.NewGuid(),
            Name = "Name",
            Description = "Description",
            Source = "https://www.youtube.com/watch?v=TEXZSzPpZqo",
            Comments = new List<string>()
            {
                "yesss",
                "nooooo",
                "well this is awkard or not"
            }
        },
        new()
        {
            Id = Guid.NewGuid(),
            Name = "Name",
            Description = "Description",
            Source = "https://www.youtube.com/watch?v=TEXZSzPpZqo",
            Comments = new List<string>()
            {
                "yesss",
                "nooooo",
                "well this is awkard or not"
            }
        },
        new()
        {
            Id = Guid.NewGuid(),
            Name = "Name",
            Description = "Description",
            Source = "https://www.youtube.com/watch?v=TEXZSzPpZqo",
            Comments = new List<string>()
            {
                "yesss",
                "nooooo",
                "well this is awkard or not"
            }
        },
        new()
        {
            Id = Guid.NewGuid(),
            Name = "Name",
            Description = "Description",
            Source = "https://www.youtube.com/watch?v=TEXZSzPpZqo",
            Comments = new List<string>()
            {
                "yesss",
                "nooooo",
                "well this is awkard or not"
            }
        },
        new()
        {
            Id = Guid.NewGuid(),
            Name = "Name",
            Description = "Description",
            Source = "https://www.youtube.com/watch?v=TEXZSzPpZqo",
            Comments = new List<string>()
            {
                "yesss",
                "nooooo",
                "well this is awkard or not"
            }
        }
    };

}